ion-card {
  border-style: solid;
  border-color: green;
  border-width: 5px;
  border-radius: 20px;
  width: 75%;
  height: 350px;
  margin: 150px auto;


  ion-label {
    color: white;
    font-size: 12px;
    border-radius: 2em;
    padding: 3px 15px;
    margin: 0 5px;
    z-index: inherit;
  }

  #new {
    background-color: green;
  }

  #discount {
    background-color: orangered;
  }

  .old-price {
    color: orangered;
    text-decoration: line-through;
  }
}
